.heading-landing{
    color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 180px;
  display: inline-block;
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5); /* Firefox */
  -ms-transform: scale(1, 1.5); /* IE 9+ */
  -o-transform: scale(1, 1.5); /* Opera */
  letter-spacing: 15px;
  margin: 10px;
  padding: 10px;
}



.heading2-landing{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 180px;
    display: inline-block;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
    -moz-transform: scale(1, 1.5); /* Firefox */
    -ms-transform: scale(1, 1.5); /* IE 9+ */
    -o-transform: scale(1, 1.5); /* Opera */
    letter-spacing: 15px;
    
}